## Version 2023/02/05
# make sure that your jenkins container is named jenkins
# make sure that jenkins is set to work with the base url /jenkins/
# First either add '--prefix=/jenkins' or '-e JENKINS_OPTS="--prefix=/jenkins"' to your docker run command, and restart the Jenkins container.
# Also be sure to add '/jenkins/' to your URL under: Jenkins > Configuration > Manage Jenkins > Jenkins URL

location /jenkins {
    return 301 $scheme://$host/jenkins/;
}

location ^~ /jenkins/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable for ldap auth (requires ldap-server.conf in the server block)
    #include /config/nginx/ldap-location.conf;

    # enable for Authelia (requires authelia-server.conf in the server block)
    #include /config/nginx/authelia-location.conf;

    # enable for Authentik (requires authentik-server.conf in the server block)
    #include /config/nginx/authentik-location.conf;

    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app jenkins;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    # This is the maximum upload size
    client_max_body_size 10m;
    sendfile off;
    proxy_max_temp_file_size 0;
    proxy_temp_file_write_size 64k;
    proxy_request_buffering off;
    proxy_buffering off;
}
