# calibre does not require a base url setting

location /calibre {
    return 301 $scheme://$host/calibre/;
}
location ^~ /calibre/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /login;

    resolver 127.0.0.11 valid=30s;
    set $upstream_app calibre;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /calibre(.*) $1 break;
}
