## Version 2021/01/29
# add BASE_PATH=/chronograf environment variable to your docker compose/run

location /chronograf {
    return 301 $scheme://$host/chronograf/;
}

location ^~ /chronograf/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /ldaplogin;

    # enable for Authelia, also enable authelia-server.conf in the default site config
    #include /config/nginx/authelia-location.conf;

    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_app chronograf;
    set $upstream_port 8888;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    #rewrite /chronograf(.*) $1 break;
}
