# make sure that your dns has a cname set for duplicati and that your duplicati container is not using a base url

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name duplicati.*;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

    # enable for ldap auth, fill in ldap details in ldap.conf
    #include /config/nginx/ldap.conf;

    location / {
        # enable the next two lines for http auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        # enable the next two lines for ldap auth
        #auth_request /auth;
        #error_page 401 =200 /login;

        resolver 127.0.0.11 valid=30s;
        set $upstream_duplicati duplicati;
        proxy_pass http://$upstream_duplicati:8200;
    }
}
