## Version 2022/09/08
# set this environment variable on your filebrowser container FILEBROWSER_BASEURL=/filebrowser

location /filebrowser {
    return 301 $scheme://$host/filebrowser/;
}

location ^~ /filebrowser/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable for ldap auth (requires ldap-server.conf in the server block)
    #include /config/nginx/ldap-location.conf;

    # enable for Authelia (requires authelia-server.conf in the server block)
    #include /config/nginx/authelia-location.conf;

    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app filebrowser;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

}

location ^~ /filebrowser/api/public {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app filebrowser;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

}

location ^~ /filebrowser/share {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app filebrowser;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

}

location ^~ /filebrowser/static {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app filebrowser;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

}
