## Version 2021/05/18
# make sure to set 'base_url: /flexget' under your flexget's config.yml web_server block
# 
location /flexget {
    return 301 $scheme://$host/flexget/;
}

    location ^~ /flexget/ {
        # enable the next two lines for http auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        # enable the next two lines for ldap auth
        #auth_request /auth;
        #error_page 401 =200 /ldaplogin;

        # enable for Authelia
        #include /config/nginx/authelia-location.conf;

        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app flexget;
        set $upstream_port 5050;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;    
    }
   
    location ^~ /flexget/api/ {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app flexget;
        set $upstream_port 5050;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
