## Version 2023/02/05
# make sure that your ghost container is named ghost
# make sure that ghost is set to work with the base url /ghost/
# Make sure you are using a subfolder in your ghost config file. https://ghost.org/docs/concepts/config/#url
# Note: /ghost/ is by default used for the admin page. See https://ghost.org/docs/concepts/config/#admin-url

location /blog {
    # enable the next two lines for http auth
    #uth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable for ldap auth (requires ldap-server.conf in the server block)
    #include /config/nginx/ldap-location.conf;

    # enable for Authelia (requires authelia-server.conf in the server block)
    #include /config/nginx/authelia-location.conf;

    # enable for Authentik (requires authentik-server.conf in the server block)
    #include /config/nginx/authentik-location.conf;

    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app ghost;
    set $upstream_port 2368;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

}
