# glances does not require a base url setting

location /glances {
    return 301 $scheme://$host/glances/;
}
location ^~ /glances/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /login;

    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_glances glances;
    rewrite /glances(.*) $1 break;
    proxy_pass http://$upstream_glances:61208;
}
