## Version 2021/01/29
# grafana requires environment variables set thus:
#    environment:
#      - "GF_SERVER_ROOT_URL=https://my.domain.com/grafana"
#      - "GF_SERVER_DOMAIN=https://my.domain.com/"

location ^~ /grafana/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /ldaplogin;

    # enable for Authelia, also enable authelia-server.conf in the default site config
    #include /config/nginx/authelia-location.conf;

    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_grafana grafana;
    set $upstream_port 3000;
    set $upstream_proto http;
    proxy_pass http://$upstream_grafana:$upstream_port ;
    
    # Clear Authorization Header if you are using http auth and normal Grafana auth
    #proxy_set_header    Authorization       "";
    
    rewrite ^/grafana/(.*)$ /$1 break;

}
