# if jellyfin is running in bridge mode, the below config should work as is, although, the container name is expected to be "jellyfin",
# if not, replace the lines "set $upstream_jellyfin jellyfin;" with "set $upstream_jellyfin <containername>;"
# for host mode, replace the lines "proxy_pass http://$upstream_jellyfin:8096;" with "proxy_pass http://HOSTIP:8096;" HOSTIP being the IP address of jellyfin
# in jellyfin settings, under "Advanced" change the public https port to 443, leave the local ports as is, set the "external domain" to your url and subdomain,
# and set the "Secure connection mode" to "Handled by reverse proxy"

location /jellyfin {
    return 301 $scheme://$host/jellyfin/;
}
location ^~ /jellyfin/ {
    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_jellyfin jellyfin;
    rewrite /jellyfin(.*) $1 break;
    proxy_pass http://$upstream_jellyfin:8096;
    
    proxy_set_header Range $http_range;
    proxy_set_header If-Range $http_if_range;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $http_connection;
}
