# kanzi does not have a base url setting

location /kanzi {
    return 301 $scheme://$host/kanzi/;
}
location ^~ /kanzi/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /login;

    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_kanzi kanzi;
    rewrite /kanzi(.*) $1 break;
    proxy_pass https://$upstream_kanzi:8000;
}
