## Version 2023/02/05
# make sure that your ombi container is named ombi
# make sure that ombi is set to work with the base url /ombi/
# first go into ombi settings, under the menu "Ombi" set the base url to /ombi and restart the ombi container

location /ombi {
    return 301 $scheme://$host/ombi/;
}

location ^~ /ombi/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable for ldap auth (requires ldap-server.conf in the server block)
    #include /config/nginx/ldap-location.conf;

    # enable for Authelia (requires authelia-server.conf in the server block)
    #include /config/nginx/authelia-location.conf;

    # enable for Authentik (requires authentik-server.conf in the server block)
    #include /config/nginx/authentik-location.conf;

    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app ombi;
    set $upstream_port 3579;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

}

# This allows access to the actual api
location ^~ /ombi/api {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app ombi;
    set $upstream_port 3579;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

}

if ($http_referer ~* /ombi) {
    rewrite ^/api/(.*) /ombi/api/$1? redirect;
}

# This allows access to the documentation for the api
location ^~ /ombi/swagger {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app ombi;
    set $upstream_port 3579;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

}

if ($http_referer ~* /ombi) {
    rewrite ^/swagger/(.*) /ombi/swagger/$1? redirect;
}
