# In order to use this location block you need to edit the default file one folder up and comment out the / location

location / {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /login;

    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_organizr organizr;
    proxy_pass http://$upstream_organizr:80;
}

location ~ /auth-(admin|user) {
    # This is used for Organizr V1
    internal;
    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_organizr organizr;
    proxy_pass http://$upstream_organizr:80/auth.php?$1;
    proxy_set_header Content-Length "";
}

location ~ /auth-([0-9]+) {
    # This is used for Organizr V2
    internal;
    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_organizr organizr;
    proxy_pass http://$upstream_organizr:80/api/?v1/auth&group=$1;
    proxy_set_header Content-Length "";
}
