## Version 2021/05/18
# Ensure your DNS has a CNAME set for Overseerr and that Overseerr container is not using a base URL. 

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name overseerr.*;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

    location / {

        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app overseerr;
        set $upstream_port 5055;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    }


}
