# pihole does not require a base url setting

location /pihole {
    return 301 $scheme://$host/pihole/;
}
location ^~ /pihole/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /login;

    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_pihole pihole;
    rewrite /pihole(.*) $1 break;
    proxy_pass http://$upstream_pihole:80;
    proxy_hide_header X-Frame-Options;
}

location /pihole/admin {
    return 301 $scheme://$host/pihole/admin/;
}
location ^~ /pihole/admin/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /login;

    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_pihole pihole;
    rewrite /pihole(.*) $1 break;
    proxy_pass http://$upstream_pihole:80;
    proxy_hide_header X-Frame-Options;
}
