## Version 2021/05/18
# qbittorrent does not require a base url setting

location /qbittorrent {
    return 301 $scheme://$host/qbittorrent/;
}

location ^~ /qbittorrent/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /ldaplogin;

    # enable for Authelia, also enable authelia-server.conf in the default site config
    #include /config/nginx/authelia-location.conf;

    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
}

location ^~ /qbittorrent/api {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
}

location ^~ /qbittorrent/command {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
}

location ^~ /qbittorrent/query {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
}

location ^~ /qbittorrent/login {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
}

location ^~ /qbittorrent/sync {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
}
