## Version 2024/08/13
# make sure that your seafile container is named seafile
# make sure that your dns has a cname set for seafile

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name seafile.*; # update to match the full domain e.g. seafile.example.com

    include /config/nginx/ssl.conf;

    client_max_body_size 10m;

    location / {
        include /config/nginx/resolver.conf;
        include /config/nginx/proxy.conf;
        proxy_pass http://seafile:8000;
        proxy_set_header Host $host;
        proxy_set_header Forwarded "for=$remote_addr;proto=$scheme";
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Connection "";

        client_max_body_size 0;
    }

    location /seafhttp {
        include /config/nginx/resolver.conf;
        include /config/nginx/proxy.conf;
        rewrite ^/seafhttp(.*)$ $1 break;
        proxy_pass http://seafile:8082;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_request_buffering off;

        client_max_body_size 0;
    }

}
