server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name shaarli.*;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

    location / {
        include /config/nginx/proxy.conf;
        resolver 127.0.0.11 valid=30s;
        set $upstream_shaarli shaarli;
        proxy_pass http://$upstream_shaarli:80;
    }
}