#******** Due to some bugs in SyncLounge, this config may conflict with others. *********

# SyncLounge defaults the server to `slserver` already
location /slserver {
    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_app synclounge;
    set $upstream_port 8089;
    set $upstream_proto http;

    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_pass $upstream_proto://$upstream_app:$upstream_port;
}

# Due to a bug in SyncLounge, some websockets calls don't respect the base url (server root) setting
# TODO: Update when fixed
location /socket.io {
    resolver 127.0.0.11 valid=30s;
    set $upstream_app synclounge;
    set $upstream_port 8089;
    set $upstream_proto http;

    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_pass $upstream_proto://$upstream_app:$upstream_port/slserver/socket.io/;
}