## Version 2023/02/12
# make sure that your syncthing container is named syncthing
# syncthing does not require a base url setting

location /syncthing {
    return 301 $scheme://$host/syncthing/;
}

location ^~ /syncthing/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable for ldap auth (requires ldap-server.conf in the server block)
    #include /config/nginx/ldap-location.conf;

    # enable for Authelia (requires authelia-server.conf in the server block)
    #include /config/nginx/authelia-location.conf;

    # enable for Authentik (requires authentik-server.conf in the server block)
    #include /config/nginx/authentik-location.conf;

    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app syncthing;
    set $upstream_port 8384;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /syncthing(.*) $1 break;
    proxy_hide_header Authorization;
}

location ^~ /syncthing/rest {
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app syncthing;
    set $upstream_port 8384;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /syncthing(.*) $1 break;
    proxy_hide_header Authorization;
}
