## Version 2023/02/05
# make sure that your synclounge container is named synclounge
# make sure that synclounge is set to work with the base url /synclounge/
# Use this with SyncLounge v3 or up
#
# To allow non-secure connections (http), which is required by some Plex clients, modify the first block in site-confs/default to look something like this:
#server {
#        listen 80 default_server;
#        listen [::]:80 default_server;
#        server_name _;
#
#        # Don't force redirect SyncLounge to https
#        include /config/nginx/proxy-confs/synclounge.subfolder.conf;
#
#        location / {
#            return 301 https://$host$request_uri;
#        }
#}

# Uncomment to force SyncLounge to always load over http. Only use this if you've allowed http per the above instructions.
#if ($scheme = https) {
#    return 301 http://$host$request_uri;
#}

location /synclounge {
    return 301 $scheme://$host/synclounge/;
}

location /synclounge/ {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable for ldap auth (requires ldap-server.conf in the server block)
    #include /config/nginx/ldap-location.conf;

    # enable for Authelia (requires authelia-server.conf in the server block)
    #include /config/nginx/authelia-location.conf;

    # enable for Authentik (requires authentik-server.conf in the server block)
    #include /config/nginx/authentik-location.conf;

    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_app synclounge;
    set $upstream_port 8088;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /synclounge(.*) $1 break;

    proxy_buffering off;
    proxy_socket_keepalive on;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Sec-WebSocket-Extensions $http_sec_websocket_extensions;
    proxy_set_header Sec-WebSocket-Key $http_sec_websocket_key;
    proxy_set_header Sec-WebSocket-Version $http_sec_websocket_version;

}
