# make sure that your dns has a cname set for tt-rss and your container name is tt-rss
# In tt-rss config.php the SELF_URL_PATH should be set to http://tt-rss.server.com/ NOT https://tt-rss.server.com although it will be accessible on https://tt-rss.server.com

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name tt-rss.*;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

    # enable for ldap auth, fill in ldap details in ldap.conf
    #include /config/nginx/ldap.conf;

    location / {
        # enable the next two lines for http auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        # enable the next two lines for ldap auth
        #auth_request /auth;
        #error_page 401 =200 /login;

        resolver 127.0.0.11 valid=30s;
        set $upstream_app tt-rss;
        set $upstream_port 80;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

        proxy_redirect  http://$upstream_app:80 /;
        proxy_read_timeout 60s;
        proxy_set_header          Host            $host;
        proxy_set_header          X-Real-IP       $remote_addr;
        proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
