# set the reverse proxy prefix in the admin gui to ubooquity.

    location ^~ /ubooquity {
        # enable the next two lines for http auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        # enable the next two lines for ldap auth
        #auth_request /auth;
        #error_page 401 =200 /login;

        include /config/nginx/proxy.conf;
        set $upstream_ubooquity ubooquity;
        proxy_pass http://$upstream_ubooquity:2202;
    }

    location ^~ /ubooquity/admin {
        include /config/nginx/proxy.conf;
        set $upstream_ubooquity ubooquity;
        proxy_pass http://$upstream_ubooquity:2203;
    }
