name: Check Samples

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check-allowed-file-names:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Check Allowed File Names
      run: |
        NOT_SAMPLES=$(find . -not -path '*/\.*' -type f ! \( -name '*.conf.sample' -o -name 'README.md' -o -name 'LICENSE' \))
        NOT_SAMPLES_COUNT=$(echo "${NOT_SAMPLES}" | wc -w)
        if (( NOT_SAMPLES_COUNT > 0 )); then
            echo "The following files are not allowed:"
            echo "${NOT_SAMPLES}"
            exit 1
        fi

    - name: Check Version Date Line Exists
      run: |
        VERSION_LINE_MISSING=$(find . -not -path '*/\.*' -type f -name '*.conf.sample' -exec grep -H -c -P '^## Version \d{4}/\d{2}/\d{2}$' {} \; | grep 0$ | cut -d':' -f1)
        VERSION_LINE_MISSING_COUNT=$(echo "${VERSION_LINE_MISSING}" | wc -w)
        if (( VERSION_LINE_MISSING_COUNT > 0 )); then
            echo "The following files are missing the version date line:"
            echo "${VERSION_LINE_MISSING}"
            exit 1
        fi
